{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div style="text-align: center; margin-bottom: 30px;">
        <h3>App Rewarder</h3>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header" style="text-align: center;">Admin Login</div>
            <div class="card-body">
                <form id="adminLoginForm" method="post" action="">
                    {% csrf_token %}
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" name="username" id="username" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password" class="form-control" required>
                    </div>
                    <br>
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
                <p id="loginMsg" class="mt-3"></p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<script>
    // Get the CSRF token from the cookie
    function getCSRFToken() {
        const csrfTokenElement = document.querySelector('[name=csrfmiddlewaretoken]');
        if (csrfTokenElement) {
            return csrfTokenElement.value;
        }
        return null;
    }

    document.getElementById("adminLoginForm").addEventListener("submit", function (event) {
        event.preventDefault();
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;

        // Get the CSRF token
        const csrfToken = getCSRFToken();

        if (!csrfToken) {
            console.error("CSRF token not found.");
            return;
        }

        fetch("{%url 'api_admin_login'%}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrfToken
            },
            body: JSON.stringify({
                username: username,
                password: password
            })
        })
        .then(response => response.json())
        .then(data => {
            const loginMsg = document.getElementById("loginMsg");
            if (data.a_token) {
                localStorage.setItem("a_token", data.a_token);
                loginMsg.innerHTML = "Admin LogIn successfull. Redirecting...";
                setTimeout(function () {
                    document.getElementById("adminLoginForm").reset();
                    loginMsg.innerHTML = "";
                }, 0999);

                setTimeout(function () {
                    window.location.href = "{%url 'frontend_admin_page' %}";
                }, 1000);
            } else {
                loginMsg.innerHTML = data;
            } 
        })
        .catch(error => {
            console.error("LogIn failed:", error);
        });
    });
</script>

{% endblock script %}