{% extends 'base.html' %}

{% block title %}
AppRewarder
{% endblock title %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div style="text-align: center; margin-bottom: 30px;">
        <h3>App Rewarder</h3>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header" style="text-align: center;">User Login</div>
            <div class="card-body">
                <form id="userLoginForm" method="post" action="">
                    {% csrf_token %}
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" name="username" id="username" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password" class="form-control" required>
                    </div>
                    <br>
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
                <p id="loginMsg" class="mt-3"></p>
            </div>
        </div>
        <div class="mt-3" style="text-align: center;">
            <p>Don't have an account? <a href="{% url 'frontend_user_reg' %}">Register here</a>.</p>
            <p>Admin? <a href="{% url 'frontend_admin_login' %}">Admin Login</a>.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    // Get the CSRF token from the cookie
    function getCSRFToken() {
        const csrfTokenElement = document.querySelector('[name=csrfmiddlewaretoken]');
        if (csrfTokenElement) {
            return csrfTokenElement.value;
        }
        return null;
    }

    document.getElementById("userLoginForm").addEventListener("submit", function (event) {
        event.preventDefault();
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;

        // Get the CSRF token
        const csrfToken = getCSRFToken();

        if (!csrfToken) {
            console.error("CSRF token not found.");
            return;
        }

        fetch("{%url 'api_user_login'%}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrfToken
            },
            body: JSON.stringify({
                username: username,
                password: password
            })
        })
        .then(response => response.json())
        .then(data => {
            const loginMsg = document.getElementById("loginMsg");
            if (data.token) {
                localStorage.setItem("token", data.token);
                loginMsg.innerHTML = "User LogIn successfull. Redirecting...";
                // Clear form data and login message after 2 seconds
                setTimeout(function () {
                    document.getElementById("userLoginForm").reset();
                    loginMsg.innerHTML = "";
                }, 499);

                // Redirect after 3 seconds
                setTimeout(function () {
                    window.location.href = "{%url 'frontend_user_page' %}";
                }, 500);
            } else {
                loginMsg.innerHTML = data;
            } 
        })
        .catch(error => {
            console.error("LogIn failed:", error);
        });
    });
</script>
{% endblock script %}
