{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div style="text-align: center; margin-bottom: 30px;">
        <h3>App Rewarder</h3>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header" style="text-align: center;">User Registration</div>
            <div class="card-body">
                <form id="registrationForm" method="post" action="">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" name="username" id="username" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="password1">Password:</label>
                        <input type="password" name="password1" id="password1" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="password2">Confirm Password:</label>
                        <input type="password" name="password2" id="password2" class="form-control" required>
                    </div>
                    <br>
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
                <p id="registrationMsg" class="mt-3"></p>
            </div>
        </div>
{% endblock content %}

{% block script %}
<script>
    // Get the CSRF token from the cookie
    function getCSRFToken() {
        const csrfTokenElement = document.querySelector('[name=csrfmiddlewaretoken]');
        if (csrfTokenElement) {
            return csrfTokenElement.value;
        }
        return null;
    }

    document.getElementById("registrationForm").addEventListener("submit", function (event) {
        event.preventDefault();
        const username = document.getElementById("username").value;
        const password1 = document.getElementById("password1").value;
        const password2 = document.getElementById("password2").value;

        // Get the CSRF token
        const csrfToken = getCSRFToken();

        if (!csrfToken) {
            console.error("CSRF token not found.");
            return;
        }

        // Make a POST request to the registration endpoint with the CSRF token
        fetch("{%url 'api_user_registration'%}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrfToken 
            },
            body: JSON.stringify({
                username: username,
                password1: password1,
                password2: password2
            })
        })
        .then(response => response.json())
        .then(data => {
            const registrationMsg = document.getElementById("registrationMsg");
            if (data === "User Registered successfully") {
                registrationMsg.innerHTML = "User Registered successfully. Redirecting...";
                setTimeout(function () {
                    window.location.href = "{% url 'home' %}";
                }, 2000);
                
            } else {
                registrationMsg.innerHTML = data;
            }
        })
        .catch(error => {
            console.error("Registration failed:", error);
        });
    });
</script>


{% endblock script %}
